body {
    font-family: Arial, sans-serif;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* .container {
    max-width: 1240px;
    padding: 100px;
    width: 100%;
} */


.container {
    padding: 100px;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/******************************************Header**************************************************/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 1000;
    padding: 16px 0;
    color: #262A2E;
}

.nav_container {
    padding-left: 100px;
    padding-right: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 109px;
    height: 45px;
    object-fit: contain;
}

.nav a {
    color: black;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    position: relative;
}

.nav a:last-child {
    background: navy;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
}

hr {
    color: #F7F8F9;
}

@media (max-width: 768px) {
    .nav_container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav a {
        margin-left: 15px;
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .nav_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo img {
        width: 90px;
        height: auto;
    }

    .nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .nav a {
        display: block;
        margin: 10px 0;
        font-size: 14px;
    }

    .nav a:last-child {
        margin: 10px auto;
        width: fit-content;
    }

    .nav.active {
        display: flex;
    }
}


hr {
    color: #F7F8F9;
}

/* *********************************************Section 1********************************************** */


.top_section_container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 40px 0;
    align-items: flex-start;
}

.top_section_left,
.top_section_right {
    flex: 1;
    min-width: 0;
}

.main_image img {
    width: 100%;
    max-width: 570px;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
}

.product {
    padding: 20px 0;
    font-size: 14px;
    height: auto;
}

.product a {
    text-decoration: none;
    color: #1d3b8b;
    font-weight: 500;
}

.separator {
    margin: 0 8px;
    color: #999;
}

.current {
    color: #333;
    font-weight: 500;
}

.main_image {
    position: relative;
    width: 100%;
}

.thumbnails {
    display: flex;
    gap: 12px;
    margin-top: 15px;
    overflow-x: auto;
}

.thumb {
    min-width: 60px;
    height: 60px;
    background: #fff;
    border: 1px solid #CFD1D4;
    border-radius: 8px;
}

h1 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 16px;
    color: #111827;
}

.price_card h2 {
    font-size: 24px;
    margin: 8px 0;
}

.tags {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.cert {
    background: #F3F4F6;
    padding: 8px;
    border-radius: 6px;
    font-size: 13px;
}

.primary,
.secondary {
    width: 100%;
    height: 52px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
}

.trusted {
    text-align: center;
    margin-top: 60px;
    color: #878B94;
}

.logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}

.logos img {
    width: 100px;
    height: auto;
    opacity: 0.6;
}

.product p {
    color: #666;
}

.top_section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.top_section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 1px solid #ddd;

    background: #fff;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    transition: 0.3s;
}

.arrow.left {
    left: 15px;
    transform: translateY(-50%) rotate(180deg);
}

.arrow.right {
    right: 15px;
}

.thumb:hover {
    opacity: 0.8;
}

.price_card .label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.6%;
    color: #6A7077;
}

.cert p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
    color: #0D0D0D;
    font-weight: 500;
}

.trusted p {
    font-size: 16px;
    letter-spacing: -0.6px;
    font-weight: 400;
    color: #878B94;
}

@media (min-width: 1024px) {
    .top_section_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 60px;
    }

    .top_section_right {
        order: 2;
    }

    .top_section_left {
        order: 1;
        margin: 20px 0;
    }

    .price_card,
    .custom {
        order: 3;
    }

    h1 {
        font-size: 48px;
    }

    .tags {
        flex-direction: row;
    }

    .custom {
        flex-direction: row;
    }

    .primary,
    .secondary {
        width: auto;
        padding: 0 24px;
    }
}

@media (max-width: 800px) {
    .top_section_container {
        flex-direction: column;
        gap: 30px;
    }

    .badges,
    h1,
    .features {
        order: 1;
    }

    .top_section_left {
        order: 2;
        width: 100%;
    }

    .price_card,
    .custom {
        order: 3;
    }

    .top_section_right h1 {
        font-size: 32px;
    }
}

@media (max-width: 360px) {
    .top_section_container {
        display: flex;
        flex-direction: column;
    }

    .top_section_right {
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .badges,
    h1,
    .features {
        order: 1;
    }

    .top_section_left {
        order: 2;
        width: 100%;
        /* margin: 20px 0; */
    }

    .main_image img {
        width: 100%;
        height: auto;
        max-width: 200px;
    }

    .thumbnails {
        justify-content: center;
        gap: 8px;
    }

    .thumb {
        width: 60px;
        height: 60px;
    }

    .price_card {
        order: 3;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .tags {
        flex-direction: column;
        gap: 8px;
    }

    .custom {
        order: 4;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;
    }

    .primary,
    .secondary {
        width: 100%;
        margin: 0;
    }

    .logos {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        padding: 20px 0;
    }

    .logos img {
        width: 180px;
        height: auto;
    }
}

@media (min-width: 1025px) {
    .top_section_container {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .top_section_left,
    .top_section_right {
        flex: 1;
    }
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.badge {
    background: #F3F4F6;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.badge img {
    width: 20px;
}

.features {
    list-style: none;
    margin: 20px 0;
}

.features li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.price_card {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    margin-top: 20px;
    width: 100%;
    max-width: 570px;
    height: auto;
}

.price_card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.tags span {
    background: #FEF3C7;
    color: #92400E;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 5px;
}

.custom {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.primary {
    background: #2B3990;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.secondary {
    background: white;
    border: 1px solid #2B3990;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}

/* *********************************************Section 2************************************************* */

.specs {
    background: #111827;
    color: #ffffff;
}

.specs-header h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
}

.specs-header p {
    color: #FFFFFF;
    max-width: 800px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.6%;
}

.specs-table-container {
    padding: 100px;
}

.specs-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #1F2937;
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid #374151;
    transition: background-color 0.3s;
}

.table-row:hover {
    background-color: #374151;
}

.table-row.head {
    font-weight: 700;
    font-size: 14px;
    background: #374151;
    cursor: default;
}

.table-row div:first-child {
    flex: 1;
    min-width: 150px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}

.table-row div:last-child {
    flex: 2;
    min-width: 150px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}

.table-row:last-child {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.specs-btn {
    text-align: center;
    padding: 16px 20px 16px 16px;
}

.specs-btn button {
    width: 325px;
    height: 52px;
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    line-height: 24px;
    letter-spacing: -0.6px;
    font-size: 16px;
    font-weight: 500;
}

.download_tech .fa-download {
    padding: 2px;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .specs-table-container {
        padding: 80px;
    }
}

@media (max-width: 1080px) {
    .specs-table-container {
        padding: 80px 60px;
    }
}

@media (max-width: 800px) {
    .specs-table-container {
        padding: 80px 48px;
    }
}

@media (max-width: 360px) {
    .specs-table-container {
        padding: 48px 16px;
    }
}

@media(max-width: 760px) {
    .specs-header h2 {
        font-size: 28px;
    }
}

.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.modal-overlay.active {
    display: flex;
}

.modal-content {
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-header {
    padding: 16px 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    padding: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #CFD1dD;
    border-radius: 8px;
}

.phone-group {
    display: flex;
    border: 1px solid #CFD1dD;
    border-radius: 8px;
    overflow: hidden;
}

.country-code {
    padding: 0 12px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    border-right: 1px solid #CFD1dD;
}

.phone-group input {
    border: none;
    padding-top: 20px;
}

.modal-footer {
    padding: 15px 20px;
    background: #fcfcfc;
    text-align: right;
}

.submit-form-btn,
.download-btn-submit {
    background: #2B3990;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.close-btn {
    background: #E1E3E8;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    border: 1px solid #CFD1dD;
}

/* ******************************************Section 3******************************************* */

.card_section {
    position: relative;
    width: 100%;
    padding: 50px 20px 100px;
    box-sizing: border-box;
    margin: 0 auto;
}

.card_section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.section-header {
    text-align: left;
    padding: 0 20px;
}

.section-header h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

.section-header p {
    color: #6A7077;
    max-width: 600px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.6%;
    margin-bottom: 40px;
    padding: 0 20px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 50px;
    padding: 0 20px;
}

.feature-card {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #CFD1dD;
    transition: 0.25s;
    width: 100%;
    box-sizing: border-box;
}

.feature-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.icon svg {
    display: block;
    width: 26px;
    height: 25px;
    stroke: #2B3990;
    margin-bottom: 16px;
}

.feature-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.feature-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #535A61;
    letter-spacing: -0.6%;
}

.cta_feature {
    text-align: center;
    padding: 0 20px;
}

.cta_feature button {
    width: 174px;
    height: 52px;
    background: #2B3990;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 16px 24px;
    letter-spacing: -0.6%;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

@media (max-width: 1024px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .features-grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .section-header h2 {
        font-size: 32px;
    }

    .section-header p {
        font-size: 16px;
    }
}

@media(max-width: 760px) {
    .section-header h2 {
        font-size: 28px;
    }
}


/* ***********************************************Section 4************************************************* */

.faq_section {
    position: relative;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.faq_section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.faq_label {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0%;
}

.faq_label span {
    color: #2B3990;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0%;
}

.faq_item {
    border-radius: 12px;
    background: #FFFFFF;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #E1E3E8;
    transition: 0.3s;
    gap: 16px;
    width: 1280px;
    margin: 10px auto;
    box-sizing: border-box;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    letter-spacing: -0.6px;
    font-weight: 500;
    color: #000000;
}

.faq-answer {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: #535A61;
}

.cta-box {
    background: #F7F8F9;
    width: 1280px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #CFD1D4;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    box-sizing: border-box;
}

.cta-text h3 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #0D0D0D;
    padding-left: 10px;
}

.cta-text p {
    color: #262A2E;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.6px;
    padding-left: 10px;
}

.faq_form {
    padding: 16px 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.faq_form input {
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 40px;
    width: 100%;
    max-width: 360px;
    color: #959BA4;
    margin: 2px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
}

.faq_form button {
    padding: 10px 16px;
    margin: 2px 0;
    border-radius: 10px;
    background: #2B3990;
    white-space: nowrap;
    height: 40px;
    width: 100%;
    max-width: 365px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .faq_section {
        padding: 80px;
    }
}

@media (max-width: 1080px) {
    .faq_section {
        padding: 80px 60px;
    }
}

@media (max-width: 800px) {
    .faq_section {
        padding: 80px 48px;
    }

    .faq_item,
    .cta-box {
        width: 100%;
    }

    .cta-box {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .cta-text {
        width: 100%;
        margin-bottom: 20px;
    }

    .faq_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .faq_form input {
        width: 100%;
        max-width: none;
        margin-bottom: 10px;
    }

    .faq_form button {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 360px) {
    .faq_section {
        padding: 48px 16px;
    }

    .faq_form input,
    .faq_form button {
        width: 100%;
        max-width: none;
    }
}

/* ********************************************Section 5****************************************** */

.application {
    width: 100%;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 100px;

}

.application::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.apps-header {
    display: flex;
    align-items: center;
    margin: 0 auto 30px auto;
    max-width: 1240px;
    width: 100%;
    height: 184px;
    gap: 20px;
    padding: 0;
}

.apps-header h2 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0%;
    color: #0D0D0D;
    margin: 0;
}

.apps-header p {
    color: #4D545C;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    margin: 0;
}

.apps-arrows {
    display: flex;
    gap: 10px;
}

.apps-cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    scroll-snap-type: x mandatory;
    margin-top: 40px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.app-card {
    max-width: 420px;
    max-height: 420px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
}

.app-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.apps-cards::-webkit-scrollbar {
    display: none;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.579217) 40.23%, rgba(0, 0, 0, 0.8) 75.96%);
    box-sizing: border-box;
}

.overlay h6 {
    margin-bottom: 8px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 500;
}

.overlay p {
    font-size: 16px;
    letter-spacing: -0.6%;
    font-weight: 400;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .application {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1080px) {
    .application {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 800px) {
    .application {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 360px) {
    .application {
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .apps-header {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .app-card {
        min-width: 300px;
        height: auto;
    }
}

@media(max-width: 760px) {
    .apps-header h2 {
        font-size: 28px;
    }
}

/* *************************************************Section 6************************************************ */

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.process {
    position: relative;
}

.process::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.container_a {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 40px;
    background: #FFFFFF;
    border: 1.2px solid #CFD1D4;
    border-radius: 20px;
}

.process-header {
    text-align: center;
    margin-bottom: 30px;
}

.process-header h2 {
    font-size: 44px;
    margin-bottom: 15px;
    line-height: 1.2;
}

.process-header p {
    font-size: 1.2em;
    color: #555;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0 65px;
    margin-bottom: 20px;
}

.tab {
    z-index: 1;
    padding: 8px 15px;
    border-radius: 32px;
    border: 1px solid #CFD1D4;
    background: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    gap: 8px;
}

.tab.active {
    background: #2B3990;
    color: #FFFFFF;
    border-color: #2B3990;
}

.process-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
}

.process-text {
    flex: 1;
    min-width: 300px;
}

.process_title {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.process_para {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #555;
    line-height: 1.6;
}

.process_para ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.process_para li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

.process_para img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.process-image {
    flex: 1;
    min-width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.slide.active {
    display: block;
}

.arrow_img {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

@media (max-width: 1024px) {
    .process-content {
        flex-direction: column;
    }
}

.navigation-buttons {
    display: none;
}

@media (max-width: 800px) {
    .tabs {
        display: none;
    }

    .navigation-buttons {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        position: relative;
    }

    .nav-btn {
        z-index: 1;
        padding: 8px 30px;
        border-radius: 32px;
        border: 1px solid #CFD1D4;
        background: #FFFFFF;
        cursor: pointer;
        font-size: 13px;
    }

    .nav-btn .prev {
        margin-left: 50px;

    }

    .nav-btn .next {
        z-index: 1;
        margin-right: 50px;

    }

    .nav-btn:hover {
        background-color: #2B3990;
    }

}

@media(max-width: 760px) {
    .process-header h2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .active-tab-name {
        display: flex;
        font-size: 12px;
        color: #FFFFFF;
        background: #2B3990;
        padding: 5px;
        border-radius: 20px;
        width: 150px;
        text-align: center;

    }
}

/* ***********************************************Section 7************************************************ */
.test {
    width: 100%;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
}

.test::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.test_header h2 {
    font-size: 44px;
    font-weight: 700px;
    color: #0D0D0D;
    text-align: center;
}

.test_header p {
    color: #4D545C;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.test_cards {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-top: 40px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.test_cards::-webkit-scrollbar {
    display: none;
}

.test_cards::after {
    content: "";
    min-width: 20px;
}

.test_cards {
    scroll-behavior: smooth;
}

.test_card {
    max-width: 350px;
    max-height: 302px;
    background: #F7F8F9;
    overflow: hidden;
    padding: 32px;
    border-radius: 24px;
    border: 1.5px solid #E1E3E8;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
    margin: 0;
}

.quote {
    text-align: start;
}

.test_card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #0D0D0D;
    text-align: left;
}

.test_card p {
    font-size: 16px;
    font-weight: 400;
    color: #535A61;
    text-align: left;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user strong {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #0D0D0D;
}

.user span {
    font-size: 12px;
    font-weight: 400;
    color: #535A61;
}

@media (max-width: 1200px) {
    .test {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1080px) {
    .test {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 800px) {

    .test {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .test_card {
        max-width: 300px;
    }

}

@media(max-width: 760px) {
    .test_header h2 {
        font-size: 28px;
    }
}

@media (max-width: 360px) {
    .test {
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 0;
        padding-right: 0;
    }
}

/* ****************************************************Section 8***************************************************** */

.portfolio {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.portfolio-header h2 {
    font-size: 44px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    color: #0D0D0D;
}

.portfolio-header p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #4D545C;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.portfolio-card * {
    box-sizing: border-box;
    width: 100%;
    word-wrap: break-word;
}

.portfolio-card:hover {
    transform: translateY(-5px);
}


.portfolio-card {
    height: auto;
    max-height: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    gap: 24px;
    border: 1px solid #CFD1D4;
    border-radius: 16px;
    background: #FFFFFF;
    transition: 0.3s;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.portfolio-card h6 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.portfolio-card p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.portfolio-card .bottom-elements {
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
}

.portfolio-card img {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 200px;
}

.learn-btn {
    width: 100%;
    max-width: 600px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 12px;
    border: 1px solid #2B3990;
    background: #E1E3E8;
    color: #2B3990;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.portfolio-cta {
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #CFD1D4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.portfolio-cta h6 {
    font-size: 26px;
    font-weight: 600;
    color: #0D0D0D;
    margin: 0 0 2px 0;
    flex-shrink: 1;
    max-width: 70%;
    word-wrap: break-word;
}

.portfolio-cta h6 span {
    color: #2B3990;
}

.portfolio-cta p {
    font-size: 16px;
    color: #262A2E;
    font-weight: 400;
    flex-shrink: 1;
    max-width: 60%;
    word-wrap: break-word;
}

.cta-btn {
    background: #2B3990;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 20px;
    white-space: nowrap;
}

@media (max-width: 1200px) {
    .portfolio {
        padding: 80px;
    }
}

@media (min-width: 1200px) {
    .learn-btn {
        max-width: 349px;
    }
}

@media (min-width: 801px) {
    .portfolio-cards {
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

    .portfolio-card {
        width: calc(33.33% - 16px);
        max-width: none;
    }
}

@media (max-width: 1080px) {
    .portfolio {
        padding: 80px 60px;
    }
}

@media (max-width: 800px) {

    .portfolio {
        padding: 80px 48px;
    }

    .portfolio-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .portfolio-card {
        width: 90%;
        max-width: 100%;
    }

    .portfolio_text,
    .portfolio-card img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 360px) {
    .portfolio {
        padding: 48px 16px;
    }
}

@media (max-width: 760px) {

    .portfolio-header h2 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
        color: #0D0D0D;
    }

    .portfolio-cta {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .portfolio-cta .cta-btn {
        margin-top: auto;
        align-self: stretch;
        text-align: center;
        margin-top: 20px;
    }
}


/* *************************************************************Section 9******************************************************** */

.resources {
    position: relative;
    width: 100%;
    max-width: 1600px;
}

.resources::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.resources_header h2 {
    font-size: 44px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #0D0D0D;
    text-align: center;
}

.resources_header p {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: #4D545C;
}

.resources_list {
    margin-top: 30px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

.resource_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.resource_item:last-child {
    border-bottom: none;
}

.resource_item span {
    font-size: 16px;
    color: #0D0D0D;
    font-weight: 500;
}

.download_link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #2B3990;
    text-decoration: none;
    font-weight: 500;
}

.download_btn {
    background: none;
    border: none;
    color: #2B3990;
}

@media (max-width: 540px) {
    .resource_item {
        flex-direction: column;
        align-items: flex-start;
    }

    .download_link {
        margin-top: 10px;
        order: 2;
    }
}

@media (max-width: 760px) {

    .resources_header h2 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
        color: #0D0D0D;
    }
}



/* **********************************************************Section 10******************************************************** */

.contact_us {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contact_container {
    max-width: 1200px;
    width: 100%;
    background: #2B3990;
    border-radius: 32px;
    padding: 56px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.contact_us::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.contact_left h2 {
    font-size: 49px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}


.contact_left {
    flex: 1;
    color: #FFFFFF;
}

.contact_desc,
.mail_contact {
    max-width: 100%;
    width: auto;
}

.contact_desc {
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}

.divider {
    width: 100%;
    max-width: 420px;
    height: 1px;
    background: #5562a7;
    margin-bottom: 20px;
}

.mail_contact {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;

}

.mail_contact a {
    color: #ffffff;
    text-decoration: underline;
}

.contact_form {
    width: 100%;
    max-width: 390px;
    background: #F7F8F9;
    padding: 32px;
    border-radius: 24px;
    box-sizing: border-box;
}

.contact_form {
    width: 100%;
    max-width: 390px;
    gap: 16px;
    background: #F7F8F9;
    padding: 32px;
    border-radius: 24px;
}

.contact_form h4 {
    margin-bottom: 16px;
    font-weight: 500;
    color: #262A2E;
}

.contact_form .form_input {
    width: 356px;
    height: 40px;
    padding: 4px 8px 0 15px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #E1E3E8;
    margin-bottom: 12px;
    font-size: 14px;
}


.contact_form .form_input,
.contact_form button {
    width: 100%;
    box-sizing: border-box;
}

.phone_field {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

.phone_field select {
    height: 46px;
    padding: 8px 8px 8px 10px;
    border: 1px solid #E1E3E8;
    border-right: none;
    border-radius: 8px 0 0 8px;
    background: #fff;
    outline: none;
    font-size: 14px;
    width: 60px;
}

.phone_field input {
    height: 40px;
    flex: 1;
    padding: 4px 8px 0 15px;
    border: 1px solid #E1E3E8;
    border-radius: 0 8px 8px 0;
    outline: none;
    font-size: 14px;
    max-width: 600px;
    width: 100%;
}

.contact_form button {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px;
    background: #262A2E;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
    box-sizing: border-box;
}


@media (max-width: 800px) {
    .contact_container {
        flex-direction: column;
        padding: 48px;
        text-align: center;
        gap: 40px;
    }

    .contact_left h2 {
        font-size: 32px;
    }

    .divider {
        margin: 20px auto;
    }

    .contact_form {
        max-width: 100%;
    }

}

/* *****************************************************Footer******************************************************* */


.footer_full {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-width: 1600px;
}

.footer {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
}

.footer_full::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("images/background.png") center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.footer-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.banner-inner {
    width: 100%;
    max-width: 1240px;
    border: 1px solid #CFD1D4;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.banner-logo img {
    height: 40px;
}

.banner-text {
    font-size: 18px;
    text-align: right;
    line-height: 1.4;
}

.banner-text span {
    color: #2B3990;
    font-weight: 600;
}

.footer-content {
    max-width: 1240px;
    margin: 0 auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
    gap: 30px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #0D0D0D;
    text-transform: uppercase;
}

.footer-col a {
    display: block;
    color: #535A61;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.contact p {
    margin-bottom: 12px;
    color: #535A61;
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.contact p img {
    width: 18px;
    flex-shrink: 0;
}

.social {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.bottom-inner {
    max-width: 1240px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-inner p {
    font-size: 12px;
    color: #535A61;
}

.bottom-links {
    display: flex;
    gap: 20px;
}

.bottom-links a {
    text-decoration: none;
    font-size: 12px;
    color: #535A61;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 12px;
}

.contact-item p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

.social a {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2f4da0;
    font-size: 13px;
}

i {
    color: #2B3990;
    font-size: 16px;
    padding-bottom: 2px;
}

.linkedin-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2B3990;
}

.linkedin-icon .fa-linkedin-in {
    color: #FFFFFF;
    font-size: 12px;
}

.social a {
    border: none;
}

@media (max-width: 480px) {
    .footer {
        padding: 40px 15px;
    }

    .banner-inner {
        padding: 20px;
    }

    .banner-text {
        font-size: 16px;
    }

    .footer-col {
        text-align: left;
    }

    .bottom-inner {
        flex-direction: column-reverse;
        gap: 15px;
        text-align: center;
    }

    .bottom-links {
        justify-content: center;
        width: 100%;
    }
}

/* *********************************************************************************************************************************** */